$desktop-max-width: 1440px;
$desktop-small-width: 1200px;
$small-tablet-max-width: 992px;
$tablet-max-width: 769px;
$img-mobile-max-width: 680px;
$mobile-max-width: 500px;

// Font-family
$inter: "Inter", sans-serif;

//Colors
$primary: #ffffff;
$primary-second: #F5F7FA;
$primary-third: #232323;
$primary-blu: #1814F3;
$primary-blu-light: #8BA3CB;
$primary-blu-lighter: #DFEAF2;
$primary-red: #FE5C73;
// $neutral-darker: #;
$neutral-dark: #343C6A;
$neutral: #B1B1B1;
$neutral-light: #718EBF;
$neutral-lighter: #E6EFF5;

// FONT WEIGHT
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;
